header{
    min-height: 10vh;
    background-color: rgba(38, 32, 32, 0.797);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-content{
    border: 2px solid white;
    max-width: 1100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;


    display: flex;
    gap: 30px;

}