main{
    min-height: 100vh ;
    background-color: aquamarine;
    color: blue;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.increment-app{
    margin-top: 10vh;


    display: flex;
    flex-direction: column;
    
}
.start{
    box-sizing: content-box;
    background-color: white;
    text-align: center;
}